<html>
  <head>
    <title>Signup</title>
    <link href="/css/output.css" rel="stylesheet" />
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        let stripe = Stripe('{{pk}}');
        const appearance = {
          theme: 'flat'
        };
        const options = {
          clientSecret: '{{clientSecret}}',
          appearance
        };

        // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 5
        const elements = stripe.elements(options);

        // Create and mount the Payment Element
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');

        const form = document.getElementById('payment-form');

        form.addEventListener('submit', async (event) => {
          event.preventDefault();

          //would need to check here if for free trial and use setupIntent confrimSetup
          const {error} = await stripe.confirmPayment({
            //`Elements` instance that was used to create the Payment Element
            elements,
            confirmParams: {
              return_url: "http://localhost:3000/complete",
            }
          });

          if (error) {
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Show error to your customer (for example, payment
            // details incomplete)
            const messageContainer = document.querySelector('#error-message');
            messageContainer.textContent = error.message;
          } else {
            // Your customer will be redirected to your `return_url`. For some payment
            // methods like iDEAL, your customer will be redirected to an intermediate
            // site first to authorize the payment, then redirected to the `return_url`.
          }
        });
      });
    </script>
  </head>
  <body>
    <form id="payment-form">
      <div id="payment-element">
        <!-- Elements will create form elements here -->
      </div>
      <div class="w-full px-3 py-3">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="submit">Subscribe</button>
      </div>
      <div id="error-message">
        <!-- Display error message to your customers here -->
      </div>
    </form>
  </body>
</html>
